.main-wrapper {
    padding-top: 80px;
}
aside {
    height: calc( 100vh - 190px );
}
.list-group {
    margin-top: 70px;
}
#map {
    background: linear-gradient( -30deg, khaki, bisque);
    height: calc( 100vh - 120px );
}
#filters-accordion {
    width: calc( 100% - var(--bs-gutter-x) );
    z-index: 100;
}

.list-group-item .time {
    max-width: 75%;
}

.list-group-item:nth-child(even) {
    background-color: #f8f9fa;
}

.modal-body dl.d-grid {
    grid-template-columns: auto minmax(60%, auto);

}

.modal-body dl.d-grid hr {
    grid-column-start: 1;
    grid-column-end: -1;
}