.main-wrapper {
    padding-top: 80px;
}

.form-switch {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

#map {
    background: linear-gradient(-30deg, #283048, #859398);
    height: calc( 100vh - 120px );
}
#filters-accordion {
    width: calc( 100% - var(--bs-gutter-x) );
    z-index: 100;
}
.list-wrapper {
    margin-top: 70px;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item .time {
    max-width: 75%;
}

.list-group-item:nth-child(even) {
    background-color: #f8f9fa;
}

.modal-body dl.d-grid {
    grid-template-columns: auto minmax(60%, auto);
}

.modal-body dl.d-grid hr {
    grid-column-start: 1;
    grid-column-end: -1;
}

@media (min-width: 768px) {
    aside {
        height: calc( 100vh - 190px );
    }
    .list-wrapper {
        height: 100%;
    }
}

@media (max-width: 767.8px) {
    .list-group {
        /*width: -moz-max-content;*/
        width: max-content;
    }
    .list-group li {
        border-radius: 0 !important;
        border-top-width: 1px !important;
    }
    .list-group li:not(:last-child) {
        border-right-width: 0 !important;
    }
    .list-group li:first-child {
        border-bottom-left-radius: 4px !important;
        border-top-left-radius: 4px !important;
    }
    .list-group li:last-child {
        border-bottom-right-radius: 4px !important;
        border-top-right-radius: 4px !important;
    }

    .modal-body dl.d-grid {
        grid-template-columns: auto;
    }
}